.main {
  display: flex;
  height: 100vh;
}

.footer {
  display: flex;
  padding-right: 30px;
  flex-direction: column;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin-top: 0.5em;
  line-height: 1.15;
  font-size: 4rem;
}

.preview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 0.8em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 30px;
  width: 360px;
  height: 100vh;
  border-left: 1px solid #f5f5f5;
  align-items: stretch;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-right: 30px;
  overflow-y: scroll;
  margin-bottom: 30px;
}

.form {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.removeBtn {
  text-align: center;
  cursor: pointer;
  align-self: center;
  background-color: #f31000;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.submitBtn {
  text-align: center;
  cursor: pointer;
  align-self: center;
  background-color: #007bff;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.removeBtn:hover {
  background-color: #c20d00;
}
